/* variables */
:root {
   --Primary-violet: hsl(257, 40%, 49%);
}

html {
   box-sizing: border-box;
   font-size: 15px;
}

*, *:before, *:after {
   box-sizing: inherit;
}

body {
   background-color: var(--Primary-violet);
}