/* variables */
:root {
   --Cyan: hsl(179, 62%, 43%);
   --Light-Cyan: hsla(179, 62%, 43%, 0.687);
   --Bright-Yellow: hsl(71, 73%, 54%);
   --Light-Gray: hsl(204, 43%, 93%);
   --Grayish-Blue: hsl(218, 22%, 67%);
}

html {
   box-sizing: border-box;
   font-size: 15px;
}

*, *:before, *:after {
   box-sizing: inherit;
}

body {
   background-color: violet;
}