/* variables */
:root {
   --Primary-violet: hsl(257, 40%, 49%);
   --Hover-color: hsl(310, 71%, 49%);
}

::selection {
   background: var(--Hover-color); /* WebKit/Blink Browsers */
}
::-moz-selection {
   background: var(--Hover-color); /* Gecko Browsers */
}

html {
   box-sizing: border-box;
   font-size: 15px;
}

*, *:before, *:after {
   box-sizing: inherit;
}

body {
   background-color: var(--Primary-violet);
   background-image: url(../images/bg-mobile.svg);
   background-position: top;
   background-repeat: no-repeat;
   background-size: 100vw 70vh;
   font-family: 'Poppins', sans-serif;
   position: relative;
}

main {
   margin: 20px auto;
   padding: 0 5vw;
   position: relative;
}

.txt-align-c {
   text-align: center;
}

/* header */
header {
   margin: 20px auto 50px auto;
   position: relative;
   max-width: 709px;
}
header img {
   max-height: 2.887rem;
   margin: 0 auto;
}
/* hero */
section.hero {
   position: relative;
   margin: 0 auto;
   max-width: 709px;
}
section.hero img {
   max-width: 100%;
}

/* mid */
section.mid {
   color: white;
   margin: 50px 0;
   position: relative;
}
section.mid h1 {
   font-size: 2.027rem;
   font-family: 'Open Sans', sans-serif;
   max-width: 375px;
   margin: 0 auto;
   line-height: 1.5;
}

section.mid p {
   
   font-size: 1.125rem;
   line-height: 1.5;
   padding: 10px 0 30px 0;
   font-weight: 300;
}

section.mid a {
   color: var(--Primary-violet);
   font-size: 1.125rem;
   text-decoration: none;
   background-color: white;
   padding: 13px 100px;
   border-radius: 50px;
   box-shadow: 0px 5px 15px -5px hsl(257, 86%, 14%);
   transition: .3s background-color,
               .3s color;
}
section.mid a:hover {
   background-color: var(--Hover-color);
   color: white;
}

/* icons */
section.social {
   position: relative;
   margin: 75px 0 30px 0;
}

section.social ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
   display: inline-flex;
   justify-content: center;
}

section.social ul > li {
   display: flex;
   justify-content: center;
   align-items: center;
   position: relative;
   margin: 0px 7px;
}

section.social li > a {
   position: relative;
   height: 35px;
   width: 35px;
   display: block;
   border: 1px solid #fff;
   color: #fff;
   text-align: center;
   border-radius: 50%;
   transition: .3s color, 
               .3s background-color;
}

section.social a > i{
   font-size: 1.067rem;
   line-height: 35px;
}
section.social a > i.fa-instagram {
   font-size: 1.215rem;
   line-height: 34px;
}

section.social li.facebook:hover > a {
   background-color: white;
   color: #3b5999;
}
section.social li.twitter:hover > a {
   background-color: white;
   color: #46c1f6;
}
section.social li.instagram:hover > a {
   background-color: white;
   color: #e1306c;
}

/*footer */
footer {
   position: relative;
   bottom: -10px;
}

footer a {
   transition: .3s color,
   .3s background-color;
}
footer a:hover {
   background-color: #fff;
   color: var(--Hover-color);
   
}

/* querries */

@media screen and (min-width: 900px) {
   body {
      background-image: url(../images/bg-desktop.svg);
      background-position: top;
      background-repeat: no-repeat;
      background-size: 100vw 100vh;
      margin: 0;
      padding: 0;
   }

   main {
      margin: 0 auto;
      padding: 0 0;
      display: flex;
      flex-direction: column;
      width: 95vw;

   }

   .grid-container {
      display: grid;
      grid-template-columns: minmax(400px,500px) 1fr;
      grid-template-rows: .5fr 2fr .5fr;
      grid-template-areas: 
         "header header"
         "hero mid"
         "footer footer";
      column-gap: 15px;
   }

   header {
      grid-area: header;
      justify-self: start;
      margin: 30px 20px 40px 0;
   }

   section.hero {
      grid-area: hero;
      align-self: center;
      margin: 0;
   }

   section.hero img {
      height: 60vh;
   }

   section.mid {
      grid-area: mid;
      margin: 0;
      text-align: left;
      padding-top: 50px;
   }

   section.mid p {
      font-size: 1rem;
   }

   section.mid h1,
   section.mid p {
      margin: 0;
   }

   section.mid a {
      padding: 13px 60px;
   }

   section.social {
      grid-area: footer;
      justify-self: end;
      align-self: center;
      margin: 0;
   }

   footer p {
      padding: 0;
      margin: 0;
   }
}

@media screen and (min-width: 1100px) {
   .grid-container {
      grid-template-columns: minmax(546.453px,546.453px);
      column-gap: 30px;
   }

   body {
      width: 100%;
      margin: 0 auto;
   }

   main {
      /* padding: 0 5vw; */
      margin: 0 auto;
   }

   section.hero {
      grid-area: hero;
      justify-items: start;
   }

   /* .section.mid p {
      max-width: 400px;
   } */
}

@media screen and (min-width: 1300px) {
   .grid-container {
      grid-template-columns: max-content 546.453px;
      /* column-gap: unset; */
      max-width: 1300px;
      margin: 0 auto;
      justify-content: center;
   }

   main {
      margin: 0 auto;
   }

   .section.mid {
      margin-right: 50px;
   }
}
